/*
    Shaun Khang
    04/09/2025
*/

main {
    width: 60%;
    margin: 0 auto;
}

.image-container {
    flex: 1;
}

.image-container img {
    display: block;
    margin: 0 auto;
}

.about-container {
    flex: 1;
}

.about-container p{
    padding-right: 3rem;
}

img {
    width: 25%;
}

table {
    margin: 0 auto;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid;
}