/*
    Shaun Khang
    04/09/2025
*/

img {
    width: 50%;
}

/* main element css */
.main-container {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.image-container {
    flex: 1;
}

.about-container {
    flex: 1;
    padding: auto auto;
}

.about-container__p2 h3{
    font-size: 3rem;
}

/* buttons */

.button-container button, a{
    border-radius: 0.75rem;
    text-decoration: none;
    color: black;
}

.button-container button:hover{
    background-color: white;
}


.linkedIn {
    margin: 1rem auto;
    width: 10%
}




