/*
    Shaun Khang
    04/09/2025
*/

img {
    width: 50%;
}

/* main element css */
.main-container {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.image-container {
    flex: 1;
}

.about-container {
    flex: 1;
    padding: auto auto;
}

.linkedIn {
    margin: 1rem auto;
    width: 10%
}


