/*
    Shaun Khang
    04/09/2025
*/

.network-info {
    text-align: center;
}

form {
    padding: 2rem;
    margin: 0 auto;
    width: 50%;
    background-color: #f2f9ff;
    border: 0.10rem solid black;
    border-radius: 1rem;
}

input[type="text"], input[type="email"],  textarea{
    margin-bottom: 1rem;
    display: block;
}
